/* form 전체 컨텐츠 wrapper */
.content_wrap {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;

    .section_wrap {
        display: flex;
        flex-wrap: wrap;
        gap: 1.8rem;

        min-height: 300px;
    }


    /* 수정, 삭제 버튼 wrapper */
    .btn_wrap {
        display: flex;
        gap: 1rem;
        justify-content: center;

        
        @media(min-width: 774px) {
            margin-left: auto;;
            
        }
    }
}